body {
    background-color: #0f0f0f;
    color: white;
}

.border {
    border: 1px solid white;
    border-radius: 3px;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:  1rem auto;
    padding: 1rem;
}